# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Redis
dump.rdb
appendonly.aof

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.swo
